<div class='jumbotron jumbotron-fluid'>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8 text-center'>
      <h2>You have not added any dashboard yet!</h2>
    </div>
    <div class='col-md-2'></div>
  </div>

  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6 text-center'>
      <%= link_to 'Click here to add your first dashboard', new_dashboard_path, class: 'btn btn-primary' %>
    </div>
    <div class='col-md-3'></div>
  </div>
</div>
