<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Title</th>
      <th scope='col' colspan='3'>Actions</th>
    </tr>
  </thead>
  <tbody data-controller='drag' data-drag-url="/dashboards/:id/sort">
    <% @dashboards.each do |dashboard| %>
      <tr data-id="<%= dashboard.id %>">
        <td><%= dashboard.title %></td>
        <td><%= link_to 'Edit', edit_dashboard_path(dashboard), class: 'btn btn-dark' %></td>
        <td><%= link_to 'Destroy', dashboard, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
